/** colores */

$dark-green-title: #025157;
$dark-green-text: #135359;
$dark-red-text: rgb(119, 8, 8);
$white: #fff;

$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;


/** fuentes */
$font-title: "Alegreya", serif;


/** placeholders */  