@import "./global";			//Partials
@import "./cards";

.blog {
    background-color: $white;	//Variable
    width: unset;
	padding: 5% 10%;
	
	.description {
		.title {
			font-family: $font-title;	//Variable
			font-weight: bolder;
			color: $dark-red-text;
			font-size: 35px;
			margin: 0 0 25px;
		}

		.process-list {
			.process {
				margin-bottom: 25px;
				display: flex;
				align-items: center;

				.process-icon {
					width: 60px;
					height: 60px;
					margin-right: 10px;

					img {		//Anidación
						height: 100%;
					}
				}

				& > .process-description {
					& > h3 {	//Anidación
						color: $dark-green-title;
						margin: 0;
						font-size: 30px;
						font-weight: 500;
					}
					& > p {
						color: $dark-green-text;
						margin: 0;
					}
				}
			}
		}

		button {
			border-radius: 8px;
			padding: 12px;
			width: 180px;
			color: $white;
			background-color: $dark-green-title;
			border: none;
		}
	}
}

.row {
	display: flex;
	justify-content: space-between;
}

.col {
	width: 33.33%;
	margin: 10px;
}